@{
    Layout = "~/Views/Shared/_FiddleLayout.cshtml";
}

<div class="container-fluid container-height" ng-controller="index as indexCtrl">
    <div class="row">
        <div id="fiddle-map-timeline" class="col-md-3">list of pins</div>
        <div id="fiddle-map-container" class="col-md-9">
            <ui-gmap-google-map id="fiddle-map" center='indexCtrl.map.center' zoom='indexCtrl.map.zoom' options="indexCtrl.map.options"></ui-gmap-google-map>
        </div>
    </div>
</div>


